.tree {
  background: #fff;
}

.tree__item {
  position: relative;
  padding-left: 15px;
}

.tree__item::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 10px;
  height: 10px;
  background-image: url('folder-icon.png');
}

.tree__text {
  cursor: pointer;
}

.selected {
  background: #ccc;
}